@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');


@import "tailwindcss";


@custom-variant dark (&:where(.dark, .dark *));

@theme{
  --color-themegreen : #009900;
  --color-themedark : #262525;
  --color-lighterthemedark : #323232;
  --color-darkshadow: #161616;
}

.dm-serif-text-regular {
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: normal;
}

.great-vibes-regular {
  font-family: "Great Vibes", serif;
  font-weight: 400;
  font-style: normal;
}

.patrick-hand-regular {
  font-family: "Patrick Hand", serif;
  font-weight: 400;
  font-style: normal;
}

::selection {
  background-color: #009900;
  color: #fff;
}
